body {
  font-family: Arial, sans-serif;
  margin: 0 5%;
  text-align: center;
}

h1 {
  margin: 30px 0;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  margin-bottom: 20px;
}


.card {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 20px;
}




.community {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}


.professional {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}


.enterprise {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.precio {
  color: blue;
  font-weight: bold;
  margin-top: 10px;
}

.gratuita {
  color: blue;
}


.banner {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  background-color: #4a00ff;
  color: white;
  border-radius: 10px;
  padding: 20px;
}




