<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Layout Flexbox</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="layout">
  <header class="bloque">Cabecera</header>

  <main class="bloque">
    <section class="sec sec-secundaria">Sección secundaria</section>
    <section class="sec sec-principal">Sección principal</section>
  </main>

  <aside class="bloque">Barra Anuncios</aside>
  <footer class="bloque">Pie de Página</footer>
</div>

</body>
</html>
